<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">
<head>
<title class="text-uppercase text-center">administration</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<h1 style="background-color: #ccc;padding: 20px;" class="text-uppercase text-center">administration</h1>
			
			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
				</div>
			</div>
		</div>
	</div>
</body>

</html>