<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Quản lý khách hàng</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">User List khách hàng</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">User List
								khách hàng</h2>

						</div>

						<div>
							<form th:action="@{/admin/khachhang/search}">
								Filter: <input type="text" name="keyword" th:value="${keyword}"
									required /> &nbsp; <input type="submit" value="Search" />
								&nbsp; <input type="submit" value="clear" />
							</form>
							<div th:if="${message == 'F'}" class="alert alert-warning"
								role="alert">
								<strong>Warning!</strong> <span> Unable to delete bound data!</span>
							</div>
						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Full Name</th>
											<th>Phone</th>
											<th>Address</th>
											<th>Email</th>
											<th>UserName</th>
											<th>Password</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item, state: ${khachhangs}">
											<th th:text="${state.index} + 5 * (${currentPage} - 1)">1</th>
											<td th:text="${item.customerName}">Nguyễn Văn Tèo</td>
											<td th:text="${'0' +item.phone}"></td>
											<td th:text="${item.address}"></td>
											<td th:text="${item.email}"></td>
											<td th:text="${item.userName}"></td>
											<td th:text="${item.password}" style="-webkit-text-security: disc;"></td>

											<td><a
												th:href="@{/admin/khachhang/confirm-delete(id=${item.id})}"
												class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>

											</td>
									</tbody>
								</table>
							</div>

							<div>&nbsp;</div>

							<div>
								Total Items: [[${totalItems}]] -- Page [[${currentPage}]] of
								[[${totalPages}]] &nbsp; <a th:if="${totalPages > 1}"
									th:href="@{'/admin/khachhang/search' + ${1}}"
									class="text-success">First </a> <a
									th:if="${(totalPages > 1) && (currentPage > 1)} "
									th:href="@{'/admin/khachhang/search' + ${currentPage -1} }"
									class="text-success">Previous</a> <span
									th:each="i: ${#numbers.sequence(1, totalPages)}"
									class="text-danger"> <a th:if="${i != currentPage}"
									th:href="@{'/admin/khachhang/search' + ${i}}"
									class="text-danger">[[${i}]]</a> <span
									th:unless="${i != currentPage}" class="text-danger">[[${i}]]</span>
									&nbsp; &nbsp;
								</span> <a th:if="${(totalPages > 1) && (currentPage < totalPages)}"
									th:href="@{'/admin/khachhang/search' + ${currentPage +1} }"
									class="text-primary">Next </a> <a th:if="${totalPages > 1}"
									th:href="@{'/admin/khachhang/search' + ${totalPages}}"
									class="text-success">Last</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>