<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>User Management</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Menu List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Menu List</h2>
							<a th:href="@{/admin/menu/add}"
								class="btn btn-sm btn-primary">Add New</a>
						</div>


						<div>
							<form th:action="@{/admin/menu/search}">
								Filter: <input type="text" name="keyword" th:value="${keyword}"
									required /> &nbsp; <input type="submit" value="Search" />
								&nbsp; <input type="submit" value="clear" />
							</form>
							<div th:if="${message == 'E'}" class="alert alert-warning"
								menu="alert">
								<strong>Warning!</strong> <span value="${message"> Unable to delete bound data!</span>
							</div>
							<div th:if="${message == 'F'}" class="alert alert-warning"
								menu="alert">
								<strong>Warning!</strong> <span value="${message">Unable to delete the menu who is logged in to the system!</span>
							</div>
						</div>


						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Menu Code</th>
											<th>Menu Description</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item, state : ${menu}">
											<th th:text="${state.index} + 5 * (${currentPage} - 1)">1</th>
											<td th:text="${item.menuCode}"></td>
											<td th:text="${item.menuName}"></td>

											<td><a th:href="@{/admin/menu/edit(id=${item.id})}"
												   class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
												<a th:href="@{/admin/menu/confirm-delete(id=${item.id})}"
												   class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>


							<div>
								Total Items: [[${totalItems}]] -- Page [[${currentPage}]] of [[${totalPages}]] &nbsp;
								<a th:if="${totalPages > 1}" th:href="@{/admin/menu/page/1}" class="text-success">First</a>
								<a th:if="${currentPage > 1}" th:href="@{/admin/menu/page/__${currentPage - 1}__}"
								   class="text-success">Previous</a>
								<span th:each="i: ${#numbers.sequence(1, totalPages)}" class="text-danger">
									<a th:if="${i != currentPage}" th:href="@{/admin/menu/page/__${i}__}"
									   class="text-danger">[[${i}]]</a>
									<span th:unless="${i != currentPage}" class="text-danger">[[${i}]]</span>
								</span>
								<a th:if="${currentPage < totalPages}" th:href="@{/admin/menu/page/__${currentPage + 1}__}"
								   class="text-primary">Next</a>
								<a th:if="${totalPages > 1}" th:href="@{/admin/menu/page/__${totalPages}__}"
								   class="text-success">Last</a>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>