<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Search Role</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Role List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Role List</h2>
							<a th:href="@{/admin/role/add}"
								class="btn btn-sm btn-primary">Add New</a>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Role Name</th>
											<th>Role Description</th>
											<th>Action</th>
										</tr>
									</thead>
									<div>
										<form th:action="@{/admin/role/search}">
											Filter: <input type="text" name="keyword"
												th:value="${keyword}" required /> &nbsp; <input
												type="submit" value="Search" /> &nbsp; 
											</form>
												<a th:href="@{/admin/role}">
												<input type="submit"
											value="clear" /></a>
											<tbody id="tbodyRole">
												<tr th:each="item, state : ${listRole}">
													<th th:text="${state.index}">1</th>
													<td th:text="${item.roleCode}"></td>
													<td th:text="${item.roleName}"></td>
													<td><a th:href="@{/admin/product/edit(id=${item.id})}"
														class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
														<a th:href="@{/admin/product/delete(id=${item.id})}"
														class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
														<a th:href="@{/admin/role/menu-for-role/edit(id=${item.id})}"
														   class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Menu</a>
													</td>
												</tr>

											</tbody>



										</form>

									</div>

								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>