<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Customer Management</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Customer List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Customer List</h2>
						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Customer Name</th>
											<th>Address</th>
											<th>Email</th>
											<th>MST</th>
											<th>Phone</th>
										</tr>
									</thead>
									<tbody id="tbodyRole">
										<tr th:each="item, state : ${listCustomer}">
											<!--<th style="display:none;" th:text="${item.id}">1</th>-->
											<th th:text="${state.index} + 5 * (${currentPage} - 1)">1</th>
											<td th:text="${item.customerName}"></td>
											<td th:text="${item.address}"></td>
											<td th:text="${item.email}"></td>
											<td th:text="${item.mst}"></td>
											<td th:text="${item.phone}"></td>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>