<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/web/layout/default">

<head>
<title>Giỏ hàng</title>
</head>

<body>
	<section class="main-body" layout:fragment="content" id="cart_items">
		<div class="page-body">
			<div class="container">

				<div class="breadcrumbs">
					<ol class="breadcrumb">
						<li><a th:href="@{/shop}">Home</a></li>
						<li class="active">Shopping Cart</li>
					</ol>
				</div>

				<div>
					<div th:if="${message == 'overQuantity'}" class="alert alert-warning"
						 role="alert">
						<strong>Warning!</strong> <span> Quanlity mua vượt quá số lượng tồn!</span>
					</div>
				</div>

				<div class="table-responsive cart_info">
					<form method="post" th:action="@{/cart/update}">
						<table class="table table-condensed">
							<thead>
								<tr class="cart_menu">
									<td>Option</td>
									<td>Id</td>
									<td class="image">Product Name</td>
									<td class="description">Image</td>
									<td class="price">Giá</td>
									<td class="quantity">Quanlity
									<input type="submit" value="Update">
									</td>
									<td class="total">Tổng tiền</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${session.cart}">
									<td align="center"><a
										th:href="${'/cart/remove/' + item.product.id}">X</a></td>
									<td th:text="${item.product.id}"></td>
									<td th:text="${item.product.productName}"></td>
									<td><img th:src="${item.product.image}" width="100px">
									</td>
									<td th:text="${item.product.price}"></td>

									<td><input type="number" th:value="${item.quantity}"
										name="quantity" style="width: 50px;" /></td>

									<td th:text="${item.product.price * item.quantity} + ' VNĐ'"></td>
								</tr>

							</tbody>

						</table>
						</br> <a style="padding-left: 14px; font-size: 20px;" th:href="${'/shop'}">Tiếp tục Shopping</a>
						<section id="do_action" >
							<div class="container" style="padding-right: 46px;">
								<div class="heading">
									<h3>What would you like to do next?</h3>
									<p>Choose if you have a discount code or reward points you
										want to use or would like to estimate your delivery cost.</p>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="chose_area">
											<h2>Thông Tin Khách Hàng</h2>
											<div class="table-cart table-responsive">
												<table class="table table-condensed">
													<tbody>
														<tr class="cart-total">
															<th>Họ Và Tên</th>
															<td th:text="${session.customerName}"></td>
														</tr>

														<tr class="cart-total">
															<th>Address</th>
															<td th:text="${session.address}"></td>
														</tr>
														<tr class="cart-total">
															<th>Phone</th>
															<td th:text="${session.phone}"></td>
														</tr>
													</tbody>
												</table>


											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="total_area">
											<table class="table table-condensed">
												<tbody>
													<tr>
														<th>Shipping</th>
														<td><p>Miễn Phí</p></td>
													</tr>
													<tr class="cart-total">
														<th>Tổng Hóa Đơn</th>
														<td th:text="${total} + ' VNĐ'"></td>
													</tr>
												</tbody>
											</table>
											<a class="btn-cart-check check_out"
												th:href="${'/cart/checkout'}">Check Out</a>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/#do_action-->

					</form>
				</div>
			</div>
		</div>
	</section>
	<!--/#cart_items-->
</body>
</html>