<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/web/layout/default">

<head>
<title>Sản phẩm</title>
</head>

<body>
	<section class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align: center; color: red;">
						<h4 class="panel-title">
							<span>CHI TIẾT ĐƠN HÀNG</span>
						</h4>
					</div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Mã hóa đơn</th>
								<th>Status hóa đơn</th>
								<th>Thời Gian Đặt hàng</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${idHoaDon}"></td>
								<td th:if="${statusHoaDon == 'Customers request to cancel orders'}">Đã yêu cầu hủy đơn hàng</td>
								<td th:if="${statusHoaDon == 'Cancel đơn hàng'}">Đã hủy đơn hàng</td>
								<td th:text="${listhoadondetail.get(0).hoadon.timeHoaDon}"></td>
							</tr>
						</tbody>
						<thead>
						<tr>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Đơn giá</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody th:each="item : ${listhoadondetail}">
						<tr>
							<td th:text="${item.product.productName}"></td>
							<td th:text="${item.quantity}"></td>
							<td th:text="${item.sumMoney} + ' VNĐ'"></td>
							<td class="breadcrumb-item"><a
									th:href="@{/detail/hoadon/review(id=${item.productId}, idhoadon=${idHoaDon})}">Đánh giá Product</a></td>
						</tr>
						</tbody>
					</table>

					<div class="panel-heading" style="text-align: right; color: #3d464d;">
						<h4 class="panel-title">
							<strong style="font-size: 16px;" th:text="'Tổng tiền hóa đơn : ' + ${dongia} + ' VNĐ'"></strong>
						</h4>
					</div>
					<div th:if="${statusHoaDon != 'Cancel đơn hàng'
							&& statusHoaDon != 'null'
							&& statusHoaDon != 'Customers request to cancel orders'}"  style="height: 39px; position: relative;">
							<div style=" position: absolute; right: 0; top: 10px; ">
								<a th:href="@{/detail/hoadon/confirm-cancel(id=${idHoaDon})}" style="text-align: right;background-color: red; padding: 10px; color: #fff;">
								<strong>Cancel đơn hàng</strong></a>
							</div>
					</div>
					<div th:if="${statusHoaDon == 'Customers request to cancel orders'}"  style="height: 39px; position: relative;">
							<div style=" position: absolute; right: 0; top: 10px; ">
								<strong style="text-align: right;background-color: red; padding: 10px; color: #fff;">Đã yêu cầu hủy đơn hàng</strong>
							</div>
					</div>
					<div th:if="${statusHoaDon == 'Cancel đơn hàng'}"  style="height: 39px; position: relative;">
						<div style=" position: absolute; right: 0; top: 10px; ">
							<strong style="text-align: right;background-color: red; padding: 10px; color: #fff;">Đã hủy đơn hàng</strong>
						</div>
					</div>
				</div>
				
				<a style="margin-bottom: 16px;" th:href="@{/myaccount}" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">
				Back</a>

			</div>
		</div>
	</section>
</body>
</html>