<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Forgot Password?</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="#">
<meta name="keywords"
	content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="#">
<!-- Favicon icon -->

<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800"
	rel="stylesheet">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
 <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                
                <h5 class="text-muted m-t-0 font-600">Change Password</h5>
            </div>
        	<div class="auth-box card">
               <div class="card-block">
                    <h4 class="text-uppercase font-bold m-b-0">	</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" th:action="@{/confirm-reset}" th:object="${khachhang}" method="post">
						
						<input type="hidden" th:field="*{id}" /> 
						
						<div class="form-group form-primary">
							<div class="col-xs-12">
								<label for="">Email</label> <input class="form-control" type="email" required="required" placeholder="Email" th:field="*{email}">
							</div>
						</div>
						
						<div class="form-group form-primary">
							<div class="col-xs-12">
								<label for="">Password</label> <input class="form-control" type="password" placeholder="Nhập Mật Khẩu Mới" th:field="*{password}">
							</div>
						</div>

						<div class="form-group text-center m-t-40">
							<div class="col-xs-12">
								<button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
									Register
								</button>
							</div>
						</div>

					</form>

                </div>
            </div>
            <!-- end card-box -->

			<div class="row">
				<div class="col-sm-12 text-center">
					<p class="text-muted">Already have account?<a th:href="@{/login}" class="text-primary m-l-5"><b>Sign In</b></a></p>
				</div>
			</div>

        </div>
        <!-- end wrapper page -->




    	<script>
            var resizefunc = [];
        </script>
        <script type="text/javascript" th:href="@{/plugins/jquery/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:href="@{/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
	<script type="text/javascript"
		th:href="@{/plugins/popper.js/js/popper.min.js}"></script>
	<script type="text/javascript"
		th:href="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>