<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta charset="utf-8" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" />
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}" />
</head>

</head>
<body>
	<div class="jumbotron text-center">
		<h1 class="display-3">Thank You!</h1>
		<p class="lead">
			<strong>THANKS YOU FOR BUYING MY PRODUCTS</strong>
		</p>
		<hr>
		<p>
			Having trouble? <a href="https://www.facebook.com/quangnien24" target=”_blank”>Contact us</a>
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-sm" th:href="@{/shop}" role="button">Tiếp tục mua sắm</a>
		</p>
	</div>
</body>
</html>