<!-- <header id="header"
	style="position: fixed; z-index: 1; left: 0; right: 0;"> -->
<style>
    .tooltip-search-img {
        position: relative !important;
        display: inline-block !important;
        border-bottom: 1px dotted black !important;
    }

    .tooltip-search-img .tooltiptext-search-img {
        visibility: hidden !important;
        width: 120px !important;
        background-color: black !important;
        color: #fff !important;
        text-align: center !important;
        border-radius: 6px !important;
        padding: 5px 0 !important;

        /* Position the tooltip */
        position: absolute !important;
        z-index: 1 !important;
    }

    .tooltip-search-img:hover .tooltiptext-search-img {
        /*visibility: visible !important;*/
    }
</style>
	    <div id="main">
      <div class="container-fluid">
        <div class="row">
          <div class="header-top col-sm-12">
            <div id="header-search col-sm-12" style="background-color: #000;">
              <div class="col-xs-6 col-sm-4 col-md-3 name-area">
                <a th:href="@{/shop}" class="text-decoration-none">
                  <span class="text-primary bg-dark">Laptop</span>
                  <span class="text-dark bg-primary">Shop</span>
                </a>
              </div>

              <div class="col-xs-9 col-sm-8	col-md-6 search-area">
                <form th:action="@{/shop/search}">
                  <div class="input-group">
                    <input type="text" name="keyword" th:value="${keyword}" required 
                    class="form-control-input" placeholder="Search for listProduct"/>
                    <input type="submit" value="Search" class="input-group-text bg-search-input"/>
                    
                    <!-- <div class="input-group-append">
                      <span
                        class="input-group-text bg-transparent text-primary"
                      >
                        <i class="search-icon ti-search"></i>
                      </span>
                    </div> -->
                  </div>
                </form>
               <!--  <form th:action="@{/shop/search}">
					<input type="text" name="keyword" th:value="${keyword}"
						required /> &nbsp; <input type="submit" value="Search" />
					&nbsp; <input type="submit" value="clear" />
				</form> -->
              </div>

<!--            <div class="col-md-3 search-area" style="padding-left: 20px;">-->
<!--                &lt;!&ndash;<form th:action="@{/shop/search}">&ndash;&gt;-->
<!--                    <div class="input-group">-->
<!--                        &lt;!&ndash;<input type="file" name="keyword" th:value="${keyword}" required-->
<!--                               class="form-control-input" placeholder="Search for image"/>&ndash;&gt;-->
<!--                       &lt;!&ndash; <input type="file" name="fileUpload" class="form-group" accept="image/*" id="custom-no-file-chosen"-->
<!--                               onchange="document.getElementById('imgdp').src = window.URL.createObjectURL(this.files[0])"-->
<!--                               title = "Choose a video please"/>&ndash;&gt;-->

<!--&lt;!&ndash;                        ______________ BEGIN C1 ______________ &ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="file" id="files" class="hidden" onchange="document.getElementById('imgdp').src = window.URL.createObjectURL(this.files[0])"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <img src="" id="imgdp" height="56px" class="mt-2" style="display: none; height: 56px !important;padding-bottom: 20px;width: 65px; font-width: 500;"/>&ndash;&gt;-->

<!--&lt;!&ndash;                        <label for="files" class="form-control-input" style=" line-height: 16px; " id="select-image">Select image to search</label>&ndash;&gt;-->

<!--&lt;!&ndash;                        <input type="submit" value="Search by image" class="input-group-text bg-search-input"&ndash;&gt;-->
<!--&lt;!&ndash;                               style="line-height: 28px; display: none" id="search-image-input"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        ______________ END C1 ______________ &ndash;&gt;-->
<!--&lt;!&ndash;                        ______________ BEGIN C2 ______________ &ndash;&gt;-->
<!--                            &lt;!&ndash;<button style="line-height: 32px;font-weight: 500 !important;width: 80%;" class="bg-search-input js-buy-ticket tooltip-search-img">-->
<!--                                Search by image-->
<!--                                <span class="tooltiptext-search-img">Tooltip text</span>-->
<!--                            </button>&ndash;&gt;-->
<!--                        <a th:href="@{/shop/api/search-by-image}" style="color:#000; line-height: 36px;font-weight: 500 !important;width: 80%;" class="bg-search-input tooltip-search-img">-->
<!--                            Search by image-->
<!--                        </a>-->
<!--&lt;!&ndash;                        ______________ END C2 (còn ở file default nữa) ______________ &ndash;&gt;-->
<!--                        &lt;!&ndash;<button type="submit" class="input-group-text bg-search-input" style="margin-bottom: 20px;">Search by image</button>&ndash;&gt;-->
<!--                    </div>-->
<!--               &lt;!&ndash; </form>&ndash;&gt;-->

<!--            </div>-->
<!--            <div class="col-xs-6 col-sm-5 col-md-2 search-area">-->
<!--                <form th:action="@{/shop/search}">-->
<!--                    <div class="input-group">-->
<!--                        <input type="submit" value="Search by image" class="input-group-text bg-search-input"-->
<!--                               style="line-height: 28px; "/>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

              <div class="col-md-3 infor-area">
                <p class="text-tel-service">Customer Service</p>
                <p class="text-tel"><strong>+0855 586 358</strong></p>
              </div>
            </div>
          </div>

          <div class="header-bottom col-sm-12" style="padding: 0;">
            <div id="header">
               <!-- Begin : Nav -->
              <ul id="nav">
                <li><a th:href="@{/shop}">Home</a></li>
                <li><a th:href="@{/contact}"> Contact</a></li>
				<li><a href=""> Category <i class="nav-arrow-down ti-angle-down"></i></a>
					<ul role="menu" class="subnav"> 
						<li th:each="item : ${listCategory}">
							<ul>
								<li><a th:href="@{'/shop/' + ${item.id} + '/' + ${item.categoryName}}" th:text="${item.categoryName}"> </a></li>
							</ul>
						</li>
					</ul>
				</li>
				
              </ul>
                
              <!-- B5 : thay icon search = icon tiMenu khi ở giao diện mobile -->
              <div id="mobile-menu" class="mobile-menu-btn">  <!-- B8 : thêm id -->
                <i class="menu-icon ti-menu"></i>
              </div>

              <div class="search-btn" >
            	  <div th:if="${firstOfName == null}">
            	  	<a style="color: #000;" th:href="@{/myaccount}"><i class="search-icon fa fa-user"></i> Account </a>
            	  </div>
            	  <div th:if="${firstOfName != null}">
            	  	<a style="color: #000;" th:href="@{/logout-account}"><i class="search-icon fa fa-user"></i> Logout </a>
            	  </div>
              </div>
              

              <div class="search-btn">
				<a style="color: #000;" th:href="@{/cart}"><i class="search-icon fa fa-shopping-cart"></i> Cart</a>
			  </div>

              <div class="search-btn custom-hover-user-icon">
				<div th:if="${firstOfName != null}" class="show-account-login-done">
					<a style="color: #000;" th:href="@{/myaccount}" class="search-icon circle-avartar"><span th:text="${firstOfName}"></a>
				</div>
			  </div>
			  
			  <div class="search-btn">
				<div th:if="${firstOfName == null}">
					<a style="color: #000;" th:href="@{/login}"><i class="search-icon fa fa-lock"></i>
						Login</a>
				</div>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script>
      var header = document.getElementById('header');
      var mobileMenu = document.getElementById('mobile-menu');
      var headerHeight = header.clientHeight;
      // console.log(mobileMenu);

      // ĐÓNG MỞ MOBILE MENU
      mobileMenu.onclick = function(){
          // alert("thong bao");
          // console.log(header.clientHeight);
          var isClosed = header.clientHeight === headerHeight; //nếu true -> gán isClosed = 46
          if(isClosed) {
              header.style.height = 'auto';
          } else {
              // header.style.height = '46px'; // C1
              header.style.height = null; //C2
          }
      }
      
      // TỰ ĐỘNG ĐÓNG KHI CHỌN MENU 
      var menuItems = document.querySelectorAll('#nav li a');
      console.log(menuItem);
      for(var i=0; i<menuItems.length; i++){
          var menuItem = menuItems[i];
           console.log(menuItem);

          // B1 : Tìm điểm đặc biệt của thằng cha submenu từ đó là lọc nó ra
          // đó chính là sau thẻ a đó là 1 ul có class="subnav"
          // console.log(menuItem.nextElementSibling); //lấy ra nút ace liền kề 

          menuItem.onclick = function(event){
              // console.log(this)
              // tức là nếu mà có ace liền kề và ace liền kề đó chính là '.subnav' -> tim tìm được menu cha
              // this là thằng đang click vào
              var isParentMenu = this.nextElementSibling && this.nextElementSibling.classList.contains('subnav');
              if(isParentMenu) {
                  // bỏ qua, khi click vào cha subnav thì ko trượt lên trên nữa (trượt lên là do href="#")
                  event.preventDefault();
              } else {
                  header.style.height = null;
              }
          }
      }

      var selectImg = document.getElementById('select-image');
      selectImg.onclick = function(){
          $('#select-image').html('Search by image');
          document.getElementById("select-image").style.display = "none";
          document.getElementById("search-image-input").style.marginBottom = "20px";
          document.getElementById("imgdp").style.display = "block";
          document.getElementById("search-image-input").style.display = "block";
      }
  </script>
<!-- </header> -->

