<html>
<head>
  <style type="text/css">body { font-family:'Times New Roman'; font-size:12pt }p { margin:0pt }table { margin-top:0pt; margin-bottom:0pt }</style>
</head>
<body>
<div class="main-body">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
<!--            <li class="breadcrumb-item"><a href="/admin"> <i-->
<!--                    class="feather icon-home"></i> Home Page-->
<!--            </a></li>-->
            <li class="breadcrumb-item"><a href="#!">Menu List</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card px-3">
          <div class="card-header px-0 pb-2">
            <h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Menu List</h2>
<!--            <a href="@{/admin/menu/add}"-->
<!--               class="btn btn-sm btn-primary">Add New</a>-->
          </div>


<!--          <div>-->
<!--            <form action="@{/admin/menu/search}">-->
<!--              Filter: <input type="text" name="keyword" value="${keyword}"-->
<!--                             required /> &nbsp; <input type="submit" value="Search" />-->
<!--              &nbsp; <input type="submit" value="clear" />-->
<!--            </form>-->
<!--            <div if="${message == 'E'}" class="alert alert-warning"-->
<!--                 menu="alert">-->
<!--              <strong>Warning!</strong> <span value="${message"> Unable to delete bound data!</span>-->
<!--            </div>-->
<!--            <div if="${message == 'F'}" class="alert alert-warning"-->
<!--                 menu="alert">-->
<!--              <strong>Warning!</strong> <span value="${message">Unable to delete the menu who is logged in to the system!</span>-->
<!--            </div>-->
<!--          </div>-->


          <div class="card-block table-border-style">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Menu Code</th>
                  <th>Menu Description</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th >1</th>
                  <td>345</td>
                  <td >345</td>
                  <td >345</td>

<!--                  <td><a href="@{/admin/menu/edit(id=${item.id})}"-->
<!--                         class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>-->
<!--                    <a href="@{/admin/menu/confirm-delete(id=${item.id})}"-->
<!--                       class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>-->
<!--                  </td>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!--<body>-->
<!--<div class="container" style="padding-top: 100px;">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-6">-->
<!--      <table class="table table-bordered">-->
<!--        <thead class="thead-light">-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Address</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td>$name</td>-->
<!--          <td>$address</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
</html>

