<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Confirm To Delete!</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Confirm To Delete</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div>
							<div th:if="${message == 'F'}" class="alert alert-warning"
								role="alert">
								<strong>Warning!</strong> <span> Unable to delete bound data!</span>
							</div>
							<div th:if="${message == 'T'}" class="alert alert-warning"
								role="alert">
								<strong>Success!</strong> <span> Add New  sự kiện khuyến mãi thành công!</span>
							</div>
						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên Sự Kiện</th>
											<th>Ngày bắt đầu</th>
											<th>Ngày kết thúc</th>
											<th>Phần trăm giảm</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="tbodyRole">
										<tr>
											<th th:text="${sale.id}"></th>
											<th th:text="${sale.eventName}"></th>
											<td th:text="${sale.startDate}"></td>
											<td th:text="${sale.endDate}"></td>
											<td th:text="${sale.giamGia} + ' %' "></td>
											<td>
												<a th:href="@{/admin/sale/confirm-delete-post(id=${sale.id})}"
													class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Confirm To Delete</a>
												<a
												th:href="@{/admin/sale}"
												class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Cancel</a>
											</td>
									</tbody>
								</table>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>