<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Brand Management</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Danh sách
									khuyến mãi</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">Danh sách khuyến mãi</h2>
							<a th:href="@{/admin/sale/add}"
								class="btn btn-sm btn-primary">Add New</a>
						</div>

						<div>
							<form th:action="@{/admin/sale/search}">
								Filter: <input type="text" name="keyword" th:value="${keyword}"
									required /> &nbsp; <input type="submit" value="Search" />
								&nbsp; <input type="submit" value="clear" />
							</form>
							<div th:if="${message == 'F'}" class="alert alert-warning"
								role="alert">
								<strong>Warning!</strong> <span> Unable to delete bound data!</span>
							</div>
							<div th:if="${message == 'T'}" class="alert alert-warning"
								role="alert">
								<strong>Success!</strong> <span> Add New  sự kiện khuyến mãi thành công!</span>
							</div>
						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên Sự Kiện</th>
											<th>Ngày bắt đầu</th>
											<th>Ngày kết thúc</th>
											<th>Phần trăm giảm</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="tbodyRole">
										<tr th:each="item, state : ${listSale}">
											<th th:text="${state.index} + 5 * (${currentPage} - 1)">1</th>
											<th th:text="${item.eventName}"></th>
											<td th:text="${item.startDate}"></td>
											<td th:text="${item.endDate}"></td>
											<td th:text="${item.giamGia} + ' %' "></td>
											<td><a
												th:href="@{/admin/sale/edit(id=${item.id})}"
												class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
												<a th:href="@{/admin/sale/confirm-delete(id=${item.id})}"
												class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
											</td>
									</tbody>
								</table>
							</div>

							<div>&nbsp;</div>

						<!-- 	<div>
								Total Items: [[${totalItems}]] -- Page [[${currentPage}]] of
								[[${totalPages}]] &nbsp; <a th:if="${totalPages > 1}"
									th:href="@{/admin/sale/page/' + ${1}}"
									class="text-success">First </a> <a
									th:if="${(totalPages > 1) && (currentPage > 1)} "
									th:href="@{/admin/sale/page/' +  ${currentPage -1} }"
									class="text-success">Previous</a> <span
									th:each="i: ${#numbers.sequence(1, totalPages)}"
									class="text-danger"> <a th:if="${i != currentPage}"
									th:href="@{'/admin/sale/page/' + ${i}}"
									class="text-danger">[[${i}]]</a> <span
									th:unless="${i != currentPage}" class="text-danger">[[${i}]]</span>
									&nbsp; &nbsp;
								</span> <a th:if="${(totalPages > 1) && (currentPage < totalPages)}"
									th:href="@{/admin/sale/page/' +  ${currentPage +1} }"
									class="text-primary">Next </a> <a th:if="${totalPages > 1}"
									th:href="@{/admin/sale/page/' + ${totalPages}}"
									class="text-success">Last</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>