<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Add New Invoice</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Add New Invoice</a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Add New Invoice</h2>
						</div>
						<div th:if="${message != null && message != ''}" th:text="${message}" class="alert alert-danger"
							 menu="alert" style="margin-left: 0%;width: 100%;">
						</div>
						<div class="card-block">
							<form th:action="@{/admin/invoice/add}" th:object="${invoice}"
								method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Business</label> <select th:field="*{businessId}"
																			class="form-control">
											<option th:each="item: ${listBusiness}" th:value="${item.id}"
													th:text="${item.businessName}"></option>
										</select> <span class="text-danger"
														th:if="${#fields.hasErrors('businessId')}"
														th:errors="*{businessId}"></span>
										</div>

<!--										<div class="form-group">-->
<!--											<label>Customer</label> <select th:field="*{customerId}"-->
<!--																			class="form-control">-->
<!--											<option th:each="item: ${listCustomer}" th:value="${item.id}"-->
<!--													th:text="${item.customerName}"></option>-->
<!--										</select> <span class="text-danger"-->
<!--														th:if="${#fields.hasErrors('customerId')}"-->
<!--														th:errors="*{customerId}"></span>-->
<!--										</div>-->

<!--										<div class="form-group">-->
<!--											<label>Issue Invoice</label> <select th:field="*{inputWarehouseId}"-->
<!--																					  class="form-control">-->
<!--											<option th:each="item: ${listWarehouse}" th:value="${item.id}"-->
<!--													th:text="${item.warehouseName}"></option>-->
<!--										</select> <span class="text-danger"-->
<!--														th:if="${#fields.hasErrors('inputWarehouseId')}"-->
<!--														th:errors="*{inputWarehouseId}"></span>-->
<!--										</div>-->
										<div class="form-group">
											<label>Invoice Type</label>
											<select id="invoice-type" class="form-control" th:field="*{invoiceType}">
												<option value="VAT" id="invoice-type-vat">VAT</option>
												<option value="WC"  id = "invoice-type-wc">WC</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">


<!--										<div class="form-group">-->
<!--											<label>Issue Invoice</label> <select th:field="*{issueInvoicesId}"-->
<!--																				 class="form-control">-->
<!--											<option th:each="item: ${listIssueInvoice}" th:value="${item.id}"-->
<!--													th:text="${item.symbol}"></option>-->
<!--											</select> <span class="text-danger"-->
<!--															th:if="${#fields.hasErrors('issueInvoicesId')}"-->
<!--															th:errors="*{issueInvoicesId}"></span>-->
<!--										</div>-->



										<!-- BEGIN IF INVOICE_TYPE = WC -->
										<div class="warehouse_div warehouse_hidden">
											<div class="form-group">
												<label>Warehouse To Input</label> <select th:field="*{inputWarehouseId}"
																						  class="form-control">
												<option th:each="item: ${listWarehouse}" th:value="${item.id}"
														th:text="${item.warehouseName}"></option>
											</select> <span class="text-danger"
															th:if="${#fields.hasErrors('inputWarehouseId')}"
															th:errors="*{inputWarehouseId}"></span>
											</div>

											<div class="form-group">
												<label>Warehouse To Output</label> <select th:field="*{outputWarehouseId}"
																						   class="form-control">
												<option th:each="item: ${listWarehouse}" th:value="${item.id}"
														th:text="${item.warehouseName}"></option>
											</select> <span class="text-danger"
															th:if="${#fields.hasErrors('outputWarehouseId')}"
															th:errors="*{outputWarehouseId}"></span>
											</div>
										</div>

										<!-- END IF INVOICE_TYPE = WC -->

										<!-- BEGIN IF INVOICE_TYPE = VAT -->

										<div class="form-group vat_div vat_display ">
											<div >
												<!-- DUMA begin research to fixed eror 403 -->
												<meta name="_csrf" th:content="${_csrf.token}"/>
												<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
												<!-- DUMA begin research to fixed eror 403 -->
												<label>MST</label> <input id="vat_mst" type="text"  class="form-control" th:field="*{mst}"/>
											</div>

											<div>
												<label>Customer Name</label> <input id="vat_customer_name" type="text"  class="form-control" th:field="*{customerName}"/>
											</div>

											<div>
												<label>Phone</label> <input id="vat_phone" type="text"  class="form-control" th:field="*{phone}"/>
											</div>

											<div>
												<label>Address</label> <input id="vat_address" type="text"  class="form-control" th:field="*{address}"/>
											</div>

											<div>
												<label>Email</label> <input id="vat_email" type="text"  class="form-control" th:field="*{email}"/>
											</div>
										</div>

										<!-- END IF INVOICE_TYPE = VAT -->



									</div>
									<div class="col-12 mt-3">
										<div class="form-group">
											<button type="submit" class="btn btn-primary m-b-0">Save</button>
											<a th:href="@{/admin/invoice}"
												class="btn btn-secondary text-white">Back</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function () {
			debugger;

			let vat = document.getElementById('invoice-type-vat').value;
		});

			// // Gọi api để thêm mới
			// axios({
			// 	url: 'http://localhost:8080/ElearningApp/api/admin/role',
			// 	method: 'POST',
			// 	data: {
			// 		"id": "",
			// 		"name": name,
			// 		"description": desc
			// 	}
			// })
			// 		.then(function (response) { // Xử lý response trả về
			// 			console.log(response);
			// 			swal("Thông báo!", "Add New thành công!", "success");
			// 			window.location.href = '/role-index.html';
			// 		})
			// 		.catch(function (error) { // Xử lý error trả về
			// 			console.log(error);
			// 			swal("Thông báo!", "Add New thất bại!", "error");
			// 		})
	</script>
</body>
</html>