<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Edit Issue Invoice</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Update Issue Invoice</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center">Update Issue Invoice</h2>
						</div>
						<div class="card-block">
							<form th:action="@{/admin/issue-invoice/edit}" method="post"
								th:object="${issueInvoice}" enctype="multipart/form-data">
								<div class="row">
									<input type="hidden" th:field="*{id}" />
									<div class="col-md-6">
<!--										<div class="form-group ">-->
<!--											<label class="input_inline">Issue Invoice Number</label> <input-->
<!--												type="number" min="10" value="0" max="100000000"-->
<!--												th:field="*{currentInvoiceNumber}" class="form-control input_inline" /> <span-->
<!--												class="text-danger col-md-6"-->
<!--												th:if="${#fields.hasErrors('currentInvoiceNumber')}" th:errors="*{currentInvoiceNumber}"></span>-->
<!--										</div>-->

										<div class="form-group">
											<label>Day Of Registration</label>
											<input type="date"
												   th:field="*{dateOfRegistration}" class="form-control" /> <span
												class="text-danger" th:if="${#fields.hasErrors('dateOfRegistration')}"
												th:errors="*{dateOfRegistration}"></span>
										</div>

										<div class="form-group ">
											<label class="input_inline">From Number</label> <input
												type="number" min="0" value="0" max="100000000"
												th:field="*{fromNumber}" class="form-control input_inline" /> <span
												class="text-danger col-md-6"
												th:if="${#fields.hasErrors('fromNumber')}" th:errors="*{fromNumber}"></span>
										</div>

										<div class="form-group ">
											<label class="input_inline">To Number</label> <input
												type="number" min="0" value="0" max="100000000"
												th:field="*{toNumber}" class="form-control input_inline" /> <span
												class="text-danger col-md-6"
												th:if="${#fields.hasErrors('toNumber')}" th:errors="*{toNumber}"></span>
										</div>

									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Quantity</label> <input type="number" min="1"
																		   value="0" max="1000" th:field="*{quantity}"
																		   class="form-control" /> <span class="text-danger"
																										 th:if="${#fields.hasErrors('quantity')}"
																										 th:errors="*{quantity}"></span>
										</div>

										<div class="form-group">
											<label>Category</label> <select th:field="*{invoiceTypeId}"
																			class="form-control">
											<option th:each="item: ${listInvoiceType}" th:value="${item.id}"
													th:text="${item.codeOfInvoiceType}">Category</option>
										</select> <span class="text-danger"
														th:if="${#fields.hasErrors('invoiceTypeId')}"
														th:errors="*{invoiceTypeId}"></span>
										</div>

										<div class="form-group">
											<label>Symbol</label>
											<input name="des" th:field="*{symbol}" class="form-control"
												   rows="5"/>
											<span class="text-danger"
												  th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}"></span>
										</div>

										<div class="form-group">
											<label>MST</label>
											<input name="des" th:field="*{mst}" class="form-control"
												   rows="5"/>
											<span class="text-danger"
												  th:if="${#fields.hasErrors('mst')}" th:errors="*{mst}"></span>
										</div>

									</div>
									<div class="col-12 mt-3">
										<div class="form-group">
											<button type="submit" class="btn btn-primary m-b-0">Save</button>
											<a th:href="@{/admin/issue-invoice}"
												class="btn btn-secondary text-white">Back</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>