<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Issue Invoice Management</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Issue Invoice List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center" style="background-color: #ccc;padding: 20px;">Issue Invoice List</h2>
							<a th:href="@{/admin/issue-invoice/add}" class="btn btn-sm btn-primary">Add New Issue Invoice</a>
							<a th:href="@{/admin/issue-invoice/report}" class="btn btn-sm btn-twitter">Export PDF</a>
						</div>

						<div>
							<form th:action="@{/admin/issue-invoice/search}">
								Filter: <input type="text" name="keyword" th:value="${keyword}"
									required /> &nbsp; <input type="submit" value="Search" />
								&nbsp; <input type="submit" value="clear" />
							</form>
						</div>


						<div class="card-block table-border-style">
						<!-- học grid để chia table đẹp hơn -->
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Current Invoice Number</th>
											<th>Date Of Registration</th>

											<th>From Number</th>
											<th>To Number</th>

											<th>MST</th>
											<th>Quantity</th>
											<th>Symbol</th>
											<th>Invoice Type</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="tbodyRole">
										<tr th:each="item, state: ${listIssueInvoice}">
											<th th:text="${state.index} + 5 * (${currentPage} - 1)">1</th>
											<td th:text="${item.currentInvoiceNumber}"></td>
											<td th:text="${item.dateOfRegistration}"></td>
											<td th:text="${item.fromNumber}"></td>
											<td th:text="${item.toNumber}">1</td>
											<td th:text="${item.mst}">1</td>
											<td th:text="${item.quantity}">1</td>
											<td th:text="${item.symbol}">1</td>
											<td th:text="${item.invoiceType.codeOfInvoiceType}">1</td>

											<td><a th:href="@{/admin/issue-invoice/edit(id=${item.id})}"
												class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
												<a th:href="@{/admin/issue-invoice/confirm-delete(id=${item.id})}"
												class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>


							<div>&nbsp;</div>

							<div>
								Total Items: [[${totalItems}]] -- Page [[${currentPage}]] of
								[[${totalPages}]] &nbsp; <a th:if="${totalPages > 1}"
									th:href="@{'/admin/issue-invoice/page/' + ${1}}" class="text-success">First
								</a> <a th:if="${(totalPages > 1) && (currentPage > 1)} "
									th:href="@{'/admin/issue-invoice/page/' + ${currentPage -1} }"
									class="text-success">Previous</a> <span
									th:each="i: ${#numbers.sequence(1, totalPages)}"
									class="text-danger"> <a th:if="${i != currentPage}"
									th:href="@{'/admin/issue-invoice/page/' + ${i}}" class="text-danger">[[${i}]]</a>
									<span th:unless="${i != currentPage}" class="text-danger">[[${i}]]</span>
									&nbsp; &nbsp;
								</span> <a th:if="${(totalPages > 1) && (currentPage < totalPages)}"
									th:href="@{'/admin/issue-invoice/page/' + ${currentPage +1} }"
									class="text-primary">Next </a> <a th:if="${totalPages > 1}"
									th:href="@{'/admin/issue-invoice/page/' + ${totalPages}}"
									class="text-success">Last</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>