<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Search Issue Invoice</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Issue Invoice List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">Issue Invoice List</h2>
							<a th:href="@{/admin/issue-invoice/add}" class="btn btn-sm btn-primary">Add NewIssue Invoice</a>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Current Invoice Number</th>
											<th>Date Of Registration</th>

											<th>From Number</th>
											<th>To Number</th>

											<th>MST</th>
											<th>Quantity</th>
											<th>Symbol</th>
											<th>Invoice Type</th>
											<th>Action</th>
										</tr>
									</thead>

									<div>
										<form th:action="@{/admin/issue-invoice/search}">
											Filter: <input type="text" name="keyword"
												th:value="${keyword}" required /> &nbsp; <input
												type="submit" value="Search" />
										</form>
										<a th:href="@{/admin/issue-invoice}"><input type="submit"
											value="clear" /></a>
										<tbody id="tbodyRole">
											<tr th:each="item, state : ${listIssueInvoice}">
												<th th:text="${state.index}"></th>
												<td th:text="${item.currentInvoiceNumber}"></td>
												<td th:text="${item.dateOfRegistration}"></td>
												<td th:text="${item.fromNumber}"></td>
												<td th:text="${item.toNumber}">1</td>
												<td th:text="${item.mst}">1</td>
												<td th:text="${item.quantity}">1</td>
												<td th:text="${item.symbol}">1</td>
												<td th:text="${item.invoiceType.codeOfInvoiceType}">1</td>

												<td><a th:href="@{/admin/issue-invoice/edit(id=${item.id})}"
													class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
													<a th:href="@{/admin/issue-invoice/delete(id=${item.id})}"
													class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
												</td>
											</tr>
										</tbody>
									</div>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
