<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Change Password</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a
								th:href="@{/admin/user/add}">Change Password</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 col-md-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center">Change Password</h2>
						</div>
						<div class="card-block">
							<form th:action="@{/admin/user/change-password}"
								th:object="${user}" method="post">
								<div class="row">
									<div class="col-md-3"> </div>
									<div class="col-md-6">
										<input type="hidden" th:field="*{id}" />

										<div class="form-group">
											<label>Full Name</label> <input type="text" readonly
												th:field="*{userName}" class="form-control" />
										</div>
										<div class="form-group">
											<label>Email</label> <input type="text" readonly
												th:field="*{email}" class="form-control" />
										</div>
										<div class="form-group">
											<label>Password</label> <input type="password"
												th:field="*{password}" class="form-control" /> <span
												class="text-danger" th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></span>
										</div>
										<div class="form-group">
											<label>Input Password Again</label> <input type="password"
												name="confirm" class="form-control" />
										</div>
									</div>
									<div class="col-md-3"> </div>
									<div class="col-md-3"> </div>
									<div class="col-6 mt-3" style="TEXT-ALIGN: CENTER;"> 
										<div class="form-group">
											<button type="submit" class="btn btn-primary m-b-0">Save</button>
											<a th:href="@{/admin/user}"
												class="btn btn-secondary text-white">Back</a>
										</div>
									</div>
									<div class="col-md-3"> </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>