<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Confirm To Delete</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Confirm To Delete</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div style="margin-bottom: 10px;">
							<div th:if="${message == 'F'}" class="alert alert-warning"
								role="alert">
								<strong>Warning!</strong> <span> Unable to delete bound data!</span>
							</div>
						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Id Product</th>
											<th>Tên khách hàng</th>
											<th>Image</th>
											<th>Đánh giá Product</th>
											<th>Time</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${review.id}"></td>
											<td th:text="${review.productId}">
											<td th:text="${review.customerName}"></td>
											<td><img th:src="${review.image}" height="50"
												width="100" /></td>
											<td th:text="${review.danhGiaSanPham}"></td>
											<td th:text="${review.lastUpdate}"></td>
											<td><a th:href="@{/admin/review/confirm-delete-post(id=${review.id})}"
												class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
												<a th:href="@{/admin/review}"
													class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Cancel</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>