<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Search id đánh giá</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Danh sách đánh
									giá của khách hàng</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">Danh sách đánh giá
								của khách hàng</h2>

						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Id Product</th>
											<th>Tên khách hàng</th>
											<th>Image</th>
											<th>Đánh giá Product</th>
											<th>Time</th>
											<th>Action</th>
										</tr>
									</thead>

									<div>
										<div style="margin-bottom: 10px;">
											<form th:action="@{/templates/user/review/search}">
												Filter by Id Product: <input type="number" min="0"
													name="keyword" th:value="${keyword}" required /> &nbsp; <input
													type="submit" value="Search" /> &nbsp;
											</form>
											<a th:href="@{/templates/user/review}"><input type="submit"
                                                                                          value="clear" /></a>
										</div>
									<tbody>
										<tr th:each="item, state : ${listreview}">
											<td th:text="${state.index}"></td>
											<td th:text="${item.productId}">
											<td th:text="${item.customerName}"></td>
											<td><img th:src="${item.image}" height="50"
												width="100" /></td>
											<td th:text="${item.danhGiaSanPham}"></td>
											<td th:text="${item.giveComment}"></td>
											<td th:text="${item.giveComment}"></td>
											<td th:text="${item.lastUpdate}"></td>
											<td><a th:href="@{/templates/user/review/confirm-delete(id=${item.id})}"
												class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
											</td>
										</tr>
									</tbody>
									</div>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>