<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Danh sách hóa đơn chi tiết</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Danh sách hóa
									đơn chi tiết</a></li>

						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">Danh sách hóa đơn chi tiết</h2>


						</div>

						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Mã hóa đơn</th>
											<th>Tên Sản phẩm</th>
											<th>Quanlity Product</th>
											<th>Tổng tiền Product (VNĐ)</th>
										</tr>
									</thead>
									<tbody id="tbodyRole">
										<tr th:each="item, state : ${listhoadondetail}">
											<th th:text="${state.index}"/>
											<td th:text="${item.hoadonId}"/>
											<td th:text="${item.product.productName}"/>
											<td th:text="${item.quantity}"/>
											<td th:text="${item.sumMoney}"/>
									</tbody>
								</table>
							</div>
							<div>&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="col-8 mt-8" style="height: 50px;"></div>
				
				<div class="col-4 mt-4" style="margin-top: 0 !important;"> <strong style="font-size: 16px;" th:text="'Đơn giá : ' + ${dongia} + ' VNĐ'"></strong></div>
				<div class="col-12 mt-12">
					<div class="form-group">
						<a th:href="@{/admin/hoadon(id=${id})}"
							class="btn btn-secondary text-white">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>