<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Edit hóa đơn</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="/admin/role">Hóa
									Đơn</a></li>
							<li class="breadcrumb-item"><a href="#!">Edithóa
									đơn </a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center">Edithóa đơn</h2>
						</div>
						<div class="card-block">
							<form th:action="@{/admin/hoadon/edit}" method="post"
								th:object="${hoadon}">
								<div class="row">
									<div class="col-md-6 m-auto">
										<input type="hidden" th:field="*{id}" />
										<input type="hidden" th:field="*{customerId}" />
										<input type="hidden" th:field="*{userId}" />
										<input type="hidden" th:field="*{flagCancel}" />

										 <div class="form-group">
											<label>Tên khách hàng</label> <input type="text" readonly
												th:value="${customerName}" class="form-control" />
										</div> 
										
										<div class="form-group">
											<label>Time lập hóa đơn</label> <input type="date" readonly
												th:field="*{timeHoaDon}" class="form-control" />
										</div>

										<div class="form-group" th:if="*{flagCancel == 0}">
											<label>Trạng thái</label>

											<select th:field="*{statusHoaDon}"
													class="form-control">
												<option th:each="item: ${statusHoaDons}" th:value="${item.statusHoaDon}"
														th:text="${item.statusHoaDon}">Trạng thái</option>
											</select>
										</div>

										<div class="form-group" th:if="*{flagCancel == 1}">
											<label>Trạng thái</label>
											<input type="text" readonly class="form-control" value="Đã hủy đơn hàng"/>
										</div>
										<!--<span
											class="text-danger"
											th:if="${#fields.hasErrors('statusHoaDon')}"
											th:errors="*{statusHoaDon}">
										</span>-->
									</div>

									<div class="form-group mt-3">
										<button type="submit" class="btn btn-primary m-b-0">Lưu
											lại</button>
										<a th:href="@{/admin/hoadon}"
											class="btn btn-secondary text-white">Back</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>