<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Home Page</title>
<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
Meta -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
	rel="stylesheet" />
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" />
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/themify-icons/themify-icons.css}" />
<!-- ico font -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/icofont/css/icofont.css}" />
<!-- feather Awesome -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/feather/css/feather.css}" />
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.mCustomScrollbar.css}" />
</head>

<body>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<!-- NAV BAR  -->
			<div th:replace="/fragments/navbar"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">

					<!-- SIDE BAR  -->
					<div th:replace="/fragments/sidebar"></div>

					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-body" layout:fragment="content"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/plugins/jquery/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/popper.js/js/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript"
		th:src="@{/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
	<!-- modernizr js -->
	<script type="text/javascript"
		th:src="@{/plugins/modernizr/js/modernizr.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/modernizr/js/css-scrollbars.js}"></script>
	<script th:src="@{/js/pcoded.min.js}"></script>
	<script th:src="@{/js/vartical-layout.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<!-- Custom js -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
	<script
		src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
		
	<script th:src="@{/js/number/easy-number-separator.js}"></script>

	<!-- INVOICE FOR USER -> CHOOSE INVOICE TYPE -->
	<script th:inline="javascript">
		$(document).ready(function () {
			const vat = "VAT";
			const wc = "WC";
			let invoice_type = document.getElementById('invoice-type').value;
			if(invoice_type == vat){
				let vat_div = $(".vat_div");
				let warehouse_div = $(".warehouse_div");

				warehouse_div.addClass("warehouse_hidden");
				warehouse_div.removeClass("warehouse_display");

				vat_div.addClass("vat_display");
				vat_div.removeClass("vat_hidden");
			}
			else if(invoice_type == wc){
				let vat_div = $(".vat_div");
				let warehouse_div = $(".warehouse_div");

				vat_div.addClass("vat_hidden");
				vat_div.removeClass("vat_display");

				warehouse_div.addClass("warehouse_display");
				warehouse_div.removeClass("warehouse_hidden");
			}

			$('#invoice-type').change(function() {
				debugger;
				let invoice_type = document.getElementById('invoice-type').value;
				if(invoice_type == vat){
					let vat_div = $(".vat_div");
					let warehouse_div = $(".warehouse_div");

					warehouse_div.addClass("warehouse_hidden");
					warehouse_div.removeClass("warehouse_display");

					vat_div.addClass("vat_display");
					vat_div.removeClass("vat_hidden");
				}
				else if(invoice_type == wc){
					let vat_div = $(".vat_div");
					let warehouse_div = $(".warehouse_div");

					vat_div.addClass("vat_hidden");
					vat_div.removeClass("vat_display");

					warehouse_div.addClass("warehouse_display");
					warehouse_div.removeClass("warehouse_hidden");
				}
			});

			$('#vat_mst').on('change', function(e) {
				e.preventDefault();
				let mst = document.getElementById('vat_mst').value;
				var pathname = window.location.origin;

				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");

				$.ajax({
					url: pathname + '/admin/invoice/get-customer',
					type: 'POST',
					data: {
						'mst': mst
					},
					beforeSend: function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function(invoiceJson) {
						console.log("Call API success!");
						if (null != invoiceJson) {
							$('#vat_customer_name').val(invoiceJson.customerName);
							$('#vat_address').val(invoiceJson.address);
							$('#vat_phone').val(invoiceJson.phone);
							$('#vat_email').val(invoiceJson.email);
						}
					},
					error: function(xhr) {
						console.log("Call API error!");
					}
				});
			});

		});
	</script>
</body>

</html>