<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Edit Product</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Update Product</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center">Update Product</h2>
						</div>
						<div class="card-block">
							<form th:action="@{/admin/product/edit}" method="post"
								th:object="${product}" enctype="multipart/form-data">
								<div class="row">
									<div class="col-md-6">
										<input type="hidden" th:field="*{id}" />

										<div class="form-group">
											<label>Product Name</label> <input type="text"
												th:field="*{productName}" class="form-control" /> <span
												class="text-danger"
												th:if="${#fields.hasErrors('productName')}"
												th:errors="*{productName}"></span>
										</div>

										<div class="form-group ">
											<label class="input_inline">Price (VND)</label> <input
												type="number" min="1000" value="0" max="100000000"
												th:field="*{price}" class="form-control input_inline" /> <span
												class="text-danger col-md-6"
												th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
										</div>

<!--										<div class="form-group ">-->
<!--											<label>Sự kiện khuyến mãi</label> <select-->
<!--												th:field="*{saleId}" class="form-control">-->
<!--												<option th:each="item: ${listSale}" th:value="${item.id}"-->
<!--													th:text="${item.eventName}">Tên sự kiện khuyến mãi</option>-->
<!--											</select>-->
<!--										</div>-->

										<div class="form-group">
											<label>Status :</label> <select
												th:field="*{status}" class="form-control">
											<option value="Stocking">Stocking</option>
											<option value="Temporarily out of stock">Temporarily out of stock</option>
										</select>
										</div>

										<div class="form-group">
											<label>Image</label> <br> <input type="hidden"
												th:field="*{image}" /> <img th:src="${product.image}"
												id="imgdp" height="150" class="mt-2" /> <input type="file"
												name="fileUpload" class="form-group" accept="image/*"
												onchange="document.getElementById('imgdp').src = window.URL.createObjectURL(this.files[0])" />
											<span class="text-danger"
												th:if="${#fields.hasErrors('image')}"
												th:errors="*{image}"></span>
										</div>

									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Quantity</label> <input type="number" min="1"
												value="0" max="1000" th:field="*{quantity}"
												class="form-control" /> <span class="text-danger"
												th:if="${#fields.hasErrors('quantity')}"
												th:errors="*{quantity}"></span>
										</div>

										<div class="form-group">
											<label>Category</label> <select th:field="*{categoryId}"
												class="form-control">
												<option th:each="item: ${listCategory}" th:value="${item.id}"
													th:text="${item.categoryName}">Category</option>
											</select> <span class="text-danger"
												th:if="${#fields.hasErrors('categoryId')}"
												th:errors="*{categoryId}"></span>
										</div>

										<div class="form-group">
											<label>Brand</label> <select
												th:field="*{brandId}" class="form-control">
												<option th:each="item: ${listBrand}" th:value="${item.id}"
													th:text="${item.brandName}">Category</option>
											</select> <span class="text-danger"
												th:if="${#fields.hasErrors('brandId')}"
												th:errors="*{brandId}"></span>
										</div>

										<div class="form-group">
											<label>Description</label>
											<textarea name="des" th:field="*{des}" class="form-control"
												rows="21"></textarea>
											<span class="text-danger"
												th:if="${#fields.hasErrors('des')}" th:errors="*{des}"></span>
										</div>

									</div>
									<div class="col-12 mt-3">
										<div class="form-group">
											<button type="submit" class="btn btn-primary m-b-0">Save</button>
											<a th:href="@{/admin/product}"
												class="btn btn-secondary text-white">Back</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>