<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Search Product</title>
</head>

<body>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Product List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card px-3">
						<div class="card-header px-0 pb-2">
							<h2 class="text-uppercase text-center">Product List</h2>
							<a th:href="@{/admin/product/add}" class="btn btn-sm btn-primary">Add NewProduct</a>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>STT</th>
											<th>Product Name</th>
											<th>Price</th>

											<th>Image</th>
											<th>Quantity</th>

											<th>Category Name</th>
											<th>Brand Name</th>
											<th>Action</th>

										</tr>
									</thead>

									<div>
										<form th:action="@{/admin/product/search}">
											Filter: <input type="text" name="keyword"
												th:value="${keyword}" required /> &nbsp; <input
												type="submit" value="Search" />
										</form>
										<a th:href="@{/admin/product}"><input type="submit"
											value="clear" /></a>
										<tbody id="tbodyRole">
											<tr th:each="item, state : ${listProduct}">
												<th th:text="${state.index}">1</th>
												<td th:text="${item.productName}"></td>
												<td th:text="${item.price}"></td>
												<td><img th:src="${item.image}"
													height="50" width="100" /></td>
												<td th:text="${item.quantity}"></td>
												<td th:text="${item.category.categoryName}">1
												</th>
												<td th:text="${item.brand.brandName}">1
												</th>

												<td><a th:href="@{/admin/product/edit(id=${item.id})}"
													class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Edit</a>
													<a th:href="@{/admin/product/delete(id=${item.id})}"
													class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Delete</a>
													<a th:href="@{/admin/product/detail-image(id=${item.id})}"
													   class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Detail Image</a>
												</td>
											</tr>
										</tbody>
									</div>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
