<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">

<head>
<title>Edit Brand</title>
</head>

<body>
	<div class="main-body" layout:fragment="content">
		<div class="page-body">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="/admin"> <i
									class="feather icon-home"></i> Home Page
							</a></li>
							<li class="breadcrumb-item"><a href="/admin/brand">Brand </a></li>
							<li class="breadcrumb-item"><a href="#!">Edit Brand</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h2 class="text-uppercase text-center"  style="background-color: #ccc;padding: 20px;">Edit Brand</h2>
						</div>

						<div th:if="${message !=null}">
							<p th:text="${message}">
						</div>

						<div class="card-block">
							<form th:object="${brand}"
								th:action="@{/admin/brand/add}" action="#" method="post">
								<div class="row">
									<div class="col-md-6 m-auto">
										<input type="hidden" th:field="*{id}" />

										<div class="form-group">
											<label>Brand Name</label> <input type="text"
												th:field="*{brandName}" class="form-control" /> <span
												class="text-danger"
												th:if="${#fields.hasErrors('brandName')}"
												th:errors="*{brandName}"></span>
										</div>
										<div class="form-group">
											<label>Phone</label>
												<input type="text"
												th:field="*{phone}" class="form-control" /> <span
												class="text-danger"
												th:if="${#fields.hasErrors('phone')}"
												th:errors="*{phone}"></span>
<!--												<input>-->
<!--												type="number" min="100000000" value="0" max="10000000000000"-->
<!--												th:field="*{phone}" class="form-control input_inline" /> <span-->
<!--												class="text-danger col-md-6"-->
<!--												th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>-->
										</div>
										<div class="form-group">
											<label>Email</label> <input type="text" th:field="*{email}"
												class="form-control" /> <span class="text-danger"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
										</div>
										<div class="form-group">
											<label>Address</label> <input type="text"
												th:field="*{address}" class="form-control" /> <span
												class="text-danger" th:if="${#fields.hasErrors('address')}"
												th:errors="*{address}"></span>
										</div>

										<div class="form-group mt-3">
											<button type="submit" class="btn btn-primary m-b-0">Save</button>
											<a th:href="@{/admin/brand}"
												class="btn btn-secondary text-white">Back</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	        function addRole() {
	            // Lấy thông tin từ form
	            let name = document.getElementById('name').value;
	            let desc = document.getElementById('desc').value;
	            // Gọi api để thêm mới 
	            axios({
	                url: 'http://localhost:8080/ElearningApp/api/admin/role',
	                method: 'POST',
	                data: {
	                    "id": "",
	                    "name": name,
	                    "description": desc
	                }
	            })
	            .then(function (response) { // Xử lý response trả về
	                console.log(response);
	                swal("Thông báo!", "Add New thành công!", "success");
	                window.location.href = '/role-index.html';
	            })
	            .catch(function (error) { // Xử lý error trả về
	                console.log(error);
	                swal("Thông báo!", "Add New thất bại!", "error");
	            })
	        }
	    </script>
</body>

</html>